.content {
    max-width:920px;
  margin:0 auto;
}
.grid {
    display:grid;
    grid-template-columns:230px 230px 230px 230px;
}
h1{
    background-color:navy;
    padding: 1em 2em;
    color:white;
    text-align:left;
    font-size:38pt;
    border: solid black 4px;
    border-radius:25px;
    grid-row:1/2;
    grid-column:1/5;
    font-family:Coda Caption;
}
h2{
    border-bottom:black 2px solid;
}
footer{
    border-radius:25px;
    background-color:black;
    color:white;
    grid-row:6/8;
    grid-column:2/4;
    text-align:center;
}
.mainImg {
    border-radius:25px;
    box-shadow:4px 4px 4px;
    border: solid black 2px;
    grid-row:2/4;
    grid-column:3/5;
    margin:auto;
    margin-bottom:1em;
    width:250px;
    height:275px;
}
.alinks {
    grid-column:1/4;
    grid-row:2/6;
    z-index:-1;
    margin-left:10em;
    font-family:Roboto Slab;
}
.byulink {
    color:#EDFE01;
}
a {
    color:#8a7371;
}
