.content {
    max-width:100vw;
    margin:0 auto;
}
.grid {
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    max-width:900px;
    margin:0 auto;
}
h1{
    background-color:navy;
    padding: 1em 2em;
    color:white;
    text-align:center;
    font-size:1.5em;
    border: solid black 4px;
    grid-row:1/2;
    grid-column:1/5;
    font-family:"Coda Caption",serif;
}
h2{
    font-size:1em;
    border-bottom:black 2px solid;
    text-align:center;
}
footer{
    background-color:navy;
    color:white;
    grid-row:5/6;
    grid-column:1/5;
    text-align:center;   
}
.mainImg {
    border: solid black 2px;
    grid-row:2/4;
    grid-column:1/5;
    margin:0 auto;
    margin-bottom:1em;
    width:16em;
    height:18em;
}
.alinks {
    grid-column:1/5;
    grid-row:4/5;
    z-index:-1;
    margin: 0 auto;
    font-family:"Roboto Slab", Helvetica, sans-serif;
}
.byulink {
    color:#EDFE01;
}
a {
    color:#8a7371;
}
