@media only screen and (min-width: 32.5em) {
    .content{
        grid-template-columns:1fr 1fr;
    }
    footer{
        border-radius:25px;
    }
    header{
        border-radius:25px
    }
    section{
        border-radius:25px;
        margin-top:2em;
        margin-bottom:2em;
        padding-top:.5em;
        
    }
    #thirds {
        grid-row:1/2;
        grid-column:1/2;
    }
    #deseret{
        grid-row:2/3;
        grid-column:1/2;
    }
    #deseretLink{
        grid-row:3/4;
        grid-column:1/2;
    }
    #deseretimg{
        grid-row:4/5;
        grid-column:1/2;
    }
    #deseretText{
        grid-row:5/6;
        grid-column:1/2;
    }
    #whiteSpace{
        grid-row:1/2;
        grid-column:2/3;
    }
    #target{
        grid-row:2/3;
        grid-column:2/3;
    }
    #targetLink{
        grid-row:3/4;
        grid-column:2/3;
    }
    #targetimg{
        grid-row:4/5;
        grid-column:2/3;
    }
    #targetText{
        grid-row:5/6;
        grid-column:2/3;
    }
    #alignment{
        grid-row:6/7;
        grid-column:1/2;
    }
    #adobe{
        grid-row:7/8;
        grid-column:1/2;
    }
    #adobeLink{
        grid-row:8/9;
        grid-column:1/2;
    }
    #adobeimg{
        grid-row:9/10;
        grid-column:1/2;
    }
    #adobeText{
        grid-row:10/11;
        grid-column:1/2;
    }
}