@media only screen and (min-width: 39em) {
    header img{
        width:12rem;
        grid-column:1/2;
        padding-left:2em
    }
    header{
        font-size:1rem;
        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-gap:0;
        
    }
    header h1{
        grid-column:2/4;
    }
    header div{
        grid-column:2/4;
    }
    .homeNav{
        display:flex;
        white-space:nowrap;
    }
    .homeNav li{
        display:block;
        flex: 1 1 100%;
    }
    .homeNav li:first-child{
        display:none
    }
    #forecast{
        display:grid;
        grid-column:1/3;
        grid-row:3/4;
    }
    table tr td img{
        max-width:75%;
    }
    table{
        width:50%;
        margin:0 auto;
        margin-bottom:1rem;
    }
    table, th, td {
        border:1px solid black;
    }
    main{
        grid-template-columns:1fr 1fr;
        max-width:920px;
    }
    #preston{
        grid-column:1/3;
        grid-row:1/2;
    }
    #herodiv{
        grid-column:1/3;
        grid-row:2/3;
        max-width: width 100v;
    }
    .article{
        grid-column:1/3;
        grid-row:4/5;
    }
    .article h3{
        text-align:center;
    }
    .article img{
        float:right;
        margin-right:1.5rem;
        margin-left:.5rem;
        margin-bottom:.5rem;
        box-shadow:8px 10px 8px;
        max-width:50%;
    }
    .article p{
        text-align:left;
    }
    #contactInformation{
        grid-column:1/3;
        grid-row:5/6;
        display:grid;
        padding:3rem;
    }
    #contactInformation .map{
        display:block;
        margin: 0 auto;
    }
}