header, footer{
    background-color:#1378d0;
    color:#f4e409;
	align-items: center;
    justify-content: center;
    margin:auto;
}
header{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:1em;
}
header img{
    width:10rem;
    grid-row:1/2;
    grid-column:1/2;
}
header h1{
    grid-row:1/2;
    grid-column:2/4;
}
header div{
    grid-row:2/3;
    grid-column:2/4;
    margin-top:-8em;
    font-weight:bold;
}
nav {
    font-size:1.25rem;
    margin: 0 auto;
    background-color:#1378d0;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight:bold;
} 
nav ul li a {
    display: block;
    color:#140800;
    text-align: center;
    text-decoration: none;
    padding:.5em;
    border-top:#140800 2px solid;
    height:100%;
}
.homeNav li:first-child {
    display:block;
}
.homeNav li{
    display:none;
}
.menu li {
    display:block;
}
a:hover{
    background-color:#cdcbcd;
    color:#1378d0;
}
main{
    padding-top:2em;
    display:grid;
    grid-template-columns:1fr;
    margin:auto;
    color:#140800;
    background-color:#cdcbcd;
}
#lastDiv{
    margin-bottom:2em;
}
footer, main{
    max-width:920px;
    text-align:center;
}
footer{
    background-color:#1378d0;
    padding:1em;
    font-weight:bold;
}
body{
    font-size:16px;
    background-color:#f4e409;
}
h1, h2, h3, h4, h5{
    font-family:"Farro", Arial, Helvetica, sans-serif;
}
footer a{
    color:#cdcbcd;

}
#herodiv{
    position:relative;
    padding:1em;
    max-width:100%;
    margin:0 auto;
}
.heroImg{
    max-width:100%;
}
#forecast{
    display:none
}
.article{
    background-color:#cdcbcd;
    filter:brightness(85%);
    margin:1em;
    border:outset 5px #1378d0
}
#articleImg{
    width:70%;
    margin-top:3rem;
}
.articlePara{
    font-family:Roboto Slab, serif;
    padding:2em;
}
.weatherSummary{
    position:absolute;
    top:30px;
    left:30px;
    background-color:#1378d0;
    opacity:.9;
    padding:1em;
    font-weight:bold;

}
.weatherSummary p{
    color:#f4e409;
}
.weatherSummary span{
    color:#cdcbcd;
}
.weatherSummary h3{
    color:#f4e409;
    text-decoration:underline;
}
#contactInformation{
    background-color:#1378d08f
}


