.cards{
    margin: 0 auto;
    text-align: center;
    display:grid;
    grid-gap:1em;
    grid-template-columns: 1fr;
    background-color: rgba(218, 214, 214, 0.63);
}
h1{
    text-align: center;
    color:rgb(70, 70, 165);
    font-size: 3rem;
}
h2{
    color:rgb(70, 70, 165);
    font-size: 2rem;
}
h1, h2 {
    font-family: "Bree Serif";
}
p{
    font-size: 1rem;
    margin:1rem;
}
section{
    max-width: 100%;
    background-color:rgb(180, 179, 206) ;
    padding-bottom:2em;
    padding-top:1em;
    margin:1rem;
}
section img{
    max-width: 100%;
    margin:0 auto;
    box-shadow: black 0 0 10px 5px;
}
footer{
    background-color:rgb(114, 114, 151);
    color:white;
    text-align:center; 
}
@media only screen and (min-width:37.5em) {
    .cards{
        grid-template-columns: 1fr 1fr;
        padding:1rem;
    }
    section img{
        max-width: 80%;
        vertical-align: text-bottom;
    }
    section img #BrighamYoung{
        grid-row:1/2;
        grid-column:2/3;
    }
    section{
        margin:0 auto;
    }
    
}
@media only screen and (min-width:60em){
    .cards{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}